/* Reset default margin and padding */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s;
}
body {
    transition: background-color 0.3s;
}

header {
    background: #999;
    color: white;
    padding: 15px 15px 0 15px;
}

header h1 {
    margin: 0;
    display: inline;
}

nav ul {
    margin: 0;
    display: inline;
    padding: 15 15 15 15px;
}

nav ul li {
    background: black;
    color: white;
    display: inline-block;
    list-style: none;
    padding: 15px 15px;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section#main-content {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#toggleButton {
    background-color: #f57f49;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
}

/* Dark mode */
.dark-mode {
    background-color: #b3aaaa;
    color: #fff;
}

.dark-mode #toggleButton {
    background-color: #2a2c2a;
}

.dark-mode #toggleButton:hover {
    background-color: #45a049;
}

.overlay {
    display: none;
    position: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

}

/* Style for the lightbox container */
.lightbox {
    display: none;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    position: center;
}

/* Style for the close button */
.close {
    position: center;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
}

.img {
    position: center;
    margin: auto;
    max-width: 80%;
    max-height: 80%;

}