body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 15%;
  width: 15%;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #fd0c0c;
}

header {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}

.header-content {
  text-align: center;
  position: relative;
  z-index: 1;
}

  .header-content h1 {
    font-size: 48px;
  }

  .header-image {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 100%;
    width: 50%;
    z-index: 0;
    padding-right: 10%;
  }



  .paragraph-section {
    background-color: #ffffff;
    
    padding: 40px 20px;
    
  }

  .container {
    display: flex;
    align-items: flex-start;
    
  }

  .text-content {
    flex: 1;
    padding-left: 5%;
  }

  .text-content h2 {
    margin-top: 0;
    
    margin-bottom: 10px;
    
    padding-left: 5%;
  }

  .container img {
    width: 300px;
    
    height: 300px;
    
    margin-left: 20px;
    
  }


  .section {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  .image {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 200%;
    margin: auto;
  }

  .four-boxes-section {
    background-color: #fcfbfb;
    padding: 20px 20px;
  }

  .four-boxes-section header {
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

  }

  .four-boxes-section {
    background-color: #f2f2f2;
    padding: 40px 20px;

  }

  .four-boxes-section header {
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /
  }

  .box {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }

  .box:last-child {
    margin-right: 0;

  }

  .box h2 {
    margin-top: 0;

    margin-bottom: 10px;

  }

  .box p {
    margin-bottom: 15px;

  }

  .box button {
    background-color: #fd0c0c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .box button:hover {
    background-color: #ff6f6f;
  }

  .video-section {
    display: flex;
    align-items: center;
  }

  .video-thumbnail {
    margin-right: 20px;
    cursor: pointer;
     width: 100px;
    height: auto;
  }

  .video-info {
    flex: 1;
  }

  .text-container {
    display: flex;
    flex-direction: column;
  }

  .lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    text-align: center;
  }

  .video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }

  footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-content .logo img {
    height: 30px;
  }

  .footer-text {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-text li {
    display: inline;
    margin-right: 10px;
  }

  .copyright {
    flex-grow: 1;
    text-align: center;
  }

  .copyright p {
    font-size: 14px;
    color: #888888;
  }

  #toggleButton {
    background-color: #f57f49;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
  }

  /* Dark mode */
  .dark-mode {
    background-color: #b3aaaa;
    color: #fff;
  }

  .dark-mode #toggleButton {
    background-color: #2a2c2a;
  }

  .dark-mode #toggleButton:hover {
    background-color: #45a049;
  }